@import 'mixins';

body, html {
  font-family: Arial;
}

.container {
  margin: 50px auto;
  max-width: 400px;
  width: 100%;
}

.app-body {
  background: #EAEAEA;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
  padding: 10px 20px 20px;
  text-align: center;
}

.app-intro {
  color: #222222;
  text-align: center;
}

.btn {
  @include transition(all .2s ease);
  background: #DEDEDE;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  &--enabled {
    background: #2ECC71;
    color: #FFFFFF;
  }
}

.clear-all {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 20px 0 0;
}

.todo-form {
  display: flex;
  padding: 10px 0 20px;
  text-align: center;

  &__input, &__submit {
    border: 1px solid #999999;
    padding: 0 10px;
  }

  &__input {
    height: 34px;
    margin: 0 10px 0 0;
    width: 70%;
  }

  &__submit {
    height: 36px;
    width: 30%;
  }
}

.todo-items {
  &__item {
    border-top: 1px solid #aeaeae;
    display: inline-block;
    padding: 5px 0;
    text-align: left;
    width: 100%;

    &:last-child {
      border-bottom: 1px solid #aeaeae;
    }

    label {
      cursor: pointer;
      padding: 5px 0 0 25px;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox + label {
    box-sizing: border-box;
    height: 20px;
    position: relative;
    display: inline-block;
    font-size: 12px;
    width: 100%;
  }

  &__checkbox + label:before {
    @include transition(all .2s ease);
    background-color: #fff;
    border: 1px solid #DEDEDE;
    padding: 9px;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    content: "";
  }

  &__checkbox:checked + label:before, &__checkbox:hover + label:before {
    border: 1px solid #E47E30;
    color: #99a1a7;
  }

  &__checkbox:checked + label:after, &__checkbox:hover + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    color: #E47E30;
  }
}